.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-soft);
  position: relative;
  overflow-x: clip;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}
